body {
    margin : 0;
    font-family : -apple-system,BlinkMacSystemFont, "Seogoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 
    "Helventica Neue", sans-serif;
    -webkit-font-smoothing : antialised;
    -moz-osx-font-smoothing : grayscale;
}
code { 
    font-family : source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; 
}
:root { 
    --yellow : #eec643;
    --dark : #141414;
    --blue : #0d21a1;
    --white : #eef0f2;
}
body { 
    background-color : var(--white);
}